


html,
body {
  padding: 0;
  margin: 0;
    font-family: 'Space Mono', monospace !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero{
  padding: 8rem 8rem;
  background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/S20_Chopstick_Stack_Desktop_0c016b49ec.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
}


.card:hover img {
    transition: all 0.2s ease-in-out;
   transform: scale(1.1);
}

